<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myPet1" class="Cat">
        <constructor-arg ref="myAnimalName"/>
    </bean>

    <bean id="myPet2" class="Dog">
        <constructor-arg ref="myAnimalName"/>
    </bean>


    <bean id="myPet3" class="Mouse">
        <constructor-arg ref="myAnimalName"/>
    </bean>

    <bean id="myAnimalName" class="AnimalName">
    </bean>
</beans>